executor: slurm
jobs: 32

resources:
  chrombpnet_jobs: 28

set-resources:
  fastp:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 8
    cpus_per_task: 8
    mem_mb: 32000
  bowtie2_build:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  bowtie2_align:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  filter:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  picard:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 8
    cpus_per_task: 8
    mem_mb: 64000
  bam_to_tagalign:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  macs3_callpeak:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  macs3_signal:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  bedgraphtobigwig:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  frag_len:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  frip_all:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 22
    cpus_per_task: 22
    mem_mb: 64000
  tss_enrichment:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 4
    cpus_per_task: 4
    mem_mb: 64000
  pseudoreps:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 4
    cpus_per_task: 4
    mem_mb: 64000
  macs3_pseudoreps:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 4
    cpus_per_task: 4
    mem_mb: 64000
  idr:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 4
    cpus_per_task: 4
    mem_mb: 64000
  overlap_peaks:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 4
    cpus_per_task: 4
    mem_mb: 64000
  overlap_peaks:
    runtime: 240
    slurm_extra: "--cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 4
    cpus_per_task: 4
    mem_mb: 64000
  macs3_fold_change_signal:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 13
    cpus_per_task: 13
    mem_mb: 64000
  macs3_pvalue_signal:
    runtime: 240
    slurm_extra: "--constraint=cascadelake --cpu-freq=High-High:Performance"
    slurm_partition: 4hours
    threads: 13
    cpus_per_task: 13
    mem_mb: 64000
  chrombpnet_prep_nonpeaks:
    slurm_partition: "gpu,gpuh200"
    chrombpnet_jobs: 1
    runtime: 1440
    mem_mb: 96000
    cpus_per_task: 10
    slurm_extra: "--gres=gpu:1"
  chrombpnet_bias:
    slurm_partition: "gpu,gpuh200"
    chrombpnet_jobs: 1
    runtime: 1440
    mem_mb: 96000
    cpus_per_task: 10
    slurm_extra: "--gres=gpu:1"

use-apptainer: True
use-conda: True
apptainer-prefix: workflow/rules/envs
conda-prefix: workflow/rules/envs
apptainer-args: -B /zata,/data

# retries: 3
# max-jobs-per-timespan: 1/1s
rerun-incomplete: True
printshellcmds: True
keep-incomplete: True
